@import url('https://fonts.googleapis.com/css2?family=Shadows+Into+Light&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anonymous+Pro:ital@1&display=swap');

body{
    background: url("../images/background.jpg") no-repeat fixed;
    background-size:cover;
}

/*======================
TITRE
=======================*/
.logo{
    display: flex;
    justify-content: center;
}

.logo--patate{
    position: relative;
    height: 300px;
    width: 300px;
}

/*=================================
HAPPY VERSION
==================================*/

.encadrement--happy{
    margin: 0% 25% 0 25%;
}

.happy{
    letter-spacing: 5px;
    text-align: center;
    font-size: 5em;
    color: white;
    font-family: 'Shadows Into Light', cursive;
}

.happy--time{
    letter-spacing: 2px;
    text-align: center;
    font-size: 2em;
    color: white;
    font-family: 'Shadows Into Light', cursive;
}

.happy--menu{
    letter-spacing: 2px;
    text-align: center;
    font-size: 2em;
    color: white;
    font-weight: 900;
    font-family: 'Shadows Into Light', cursive;
}

.sous--titre-resto{
	letter-spacing: 5px;
    text-align: center;
    font-size: 1.5em;
    color: white;
    font-family: 'Shadows Into Light', cursive;
	margin: 0 0 2% 0;
}


/*=============================================
       	CATEGORIE
==============================================*/

.box{
	display: flex;
	justify-content: center;
}

a{
    text-decoration: none !important;
    height: 300px;
    width: 300px;
    margin: 0.4%;
}

.image {
    background-position: center;
    background-size: cover;
    width: 300px;
    height: 300px;
}
    
.image img {
    display: none;
}

.container {
    position: relative;
    text-align: center;
}
  
.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-weight: bold;
    font-size: 0em;
    font-family:'Shadows Into Light', cursive;
    transition: 0.4s all;
    text-shadow: 2px 2px #000, -2px 2px #000, 2px -2px #000, -2px -2px #000;
    color: #fff;
}

.container:hover .centered{
    font-size: 3.5em;
    transition: 0.4s all;
}


/*================================================
FOOTER
=================================================*/

.attention{
    text-align: center;
    letter-spacing: 2px;
    font-size: 2em;
    color: white;
    font-family: 'Shadows Into Light', cursive;
    font-weight: bold;
}

.adresse{
    letter-spacing: 2px;
    text-align: center;
    font-size: 1em;
    color: white;
    font-family: monospace;
}

.copyright{
    letter-spacing: 2px;
    text-align: center;
    font-size: 1em;
    color: white;
    font-family: monospace;
}

/*================================================
ANIMATIONS
=================================================*/

.hvr-grow {
    display: inline-block;
    vertical-align: middle;
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    transition-duration: 0.3s;
  }
  .hvr-grow:hover, .hvr-grow:focus, .hvr-grow:active {
    transform: scale(1.1);
  }

/*==================================
Version Mobile
===================================*/

@media only screen and (max-width: 1000px) {
    
    body{
        height: 500px;
        background-position: center; 
        background-repeat: no-repeat; 
        background-size: cover;
        margin: 0;
    }

    a{
        text-decoration: none !important;
        height: 300px;
        width: 170px;
        margin: 1%;
    }
/*----------------------
INDEX
-----------------------*/
    .box{  
        display: flex;
        justify-content: space-between;
    }

    .happy{
        font-size: 3em;
    }

    .centered{
        font-size: 2.5em;
    }
    
    .attention{
        font-size: 1.5em;
    }

    .happy-font-mobil{
        font-size: 1.3em;
    }

    .sous--titre-resto{
        font-size: 1em;
    }

    .hvr-grow:hover, .hvr-grow:focus, .hvr-grow:active {
        transform: scale(1);
    }

/*----------------------
LOBBY
-----------------------*/

    .suggest{
        border:0px;
    }

    .section-produit{
        margin: 0;
    }

    .image {
        background-position: center;
        background-size: cover;
        width: 170px;
        height: 300px;
        border:2px solid white;
        border-radius: 10px;
    }


}







